.margin-to-top {
  margin-top: -12rem;
}

.margin-to-top2 {
    margin-top: -5rem;
}

.before-line::before,
.before-line::after {
    display: inline-block;
    content: "";
    border-top: .1rem solid #fff;
    width: 26rem;
    margin: 0 2rem;
    transform: translateY(-0.5rem);
}

.before-line2::before,
.before-line2::after {
    display: inline-block;
    content: "";
    border-top: .15rem solid #ccc;
    width: 16rem;
    margin: 0 1.5rem;
    transform: translateY(-0.75rem);
}

